.us {
  background: #111111;
}

.us .row {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}

.us .row span {
  color: #888888;
}

.soc-lang {
  display: flex;
  justify-content: space-around;
}

.soc-lang .language,
.soc-lang .social {
  padding: 0 0.5rem;
}

.soc-lang .language select {
  border: unset;
  color: #888888;
  background: transparent;
  cursor: pointer;
  outline: unset;
}

.soc-lang .social i {
  padding: 0.3rem;
  color: #e5e5e5;
  background: #292929;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.soc-lang .social i.fa-facebook-f:hover {
  background: #4f6dac;
}
.soc-lang .social i.fa-twitter:hover {
  background: #31c6f7;
}
.soc-lang .social i.fa-google-plus-g:hover {
  background: #d44534;
}
.soc-lang .social i.fa-linkedin-in:hover {
  background: #0077b4;
}
.soc-lang .social i.fa-instagram:hover {
  background: #aa3486;
}

/*............................  btn menu ............................*/

.button-menu {
  display: none;
  width: 80px;
  height: 80px;
}

.button-menu .container {
  width: 80px;
  height: 80px;
  position: absolute;
  cursor: pointer;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-menu .container i {
  font-size: 25px;
}

/*............................  btn menu ............................*/

@media screen and (max-width: 770px) {
  .us .row {
    flex-direction: column;
  }
  .soc-lang {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .us .row span {
    padding-bottom: 1rem;
  }
  .logo img {
    width: 60%;
  }
}

.call-logo {
  padding: 1.5rem 0;
}

.call-logo .row {
  display: flex;
  justify-content: space-between;
}

.call,
.location,
.time {
  display: flex;
}

.detail-call,
.detail-location,
.detail-time {
  display: flex;
  flex-direction: column;
}

.call i,
.location i,
.time i {
  padding: 1rem;
  border: 1.5px solid #cccccc;
  border-radius: 3px;
  margin-right: 0.5rem;
  color: #888888;
}

.detail-call span,
.detail-location span,
.detail-time span {
  font-size: 0.9rem;
  color: #777777;
}

button.get-quote {
  background: #0056ae;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .logo {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .detail-call span,
  .detail-location span,
  .detail-time span {
    font-size: 0.7rem;
  }

  button.get-quote {
    font-size: 0.7rem;
  }

  .us .row span {
    font-size: 0.7rem;
  }

  .soc-lang .language select {
    font-size: 0.7rem;
  }

  .call i,
  .location i,
  .time i {
    padding: 0.3rem;
    font-size: 0.7rem;
  }
  .call i,
  .location i,
  .time i {
    padding: 0.5rem;
  }

  button.get-quote {
    width: 60%;
    margin: 1rem auto;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .menu ul.ul-menu {
    display: none;
  }

  .button-menu {
    display: block;
  }

  .small-search input {
    width: 150px;
  }
}

@media screen and (max-width: 580px) {
  .call,
  .location,
  .time {
    padding: 0.5rem;
    width: 100%;
    justify-content: flex-start;
    margin: 0.3rem 0;
    background: #fafafa;
    padding-left: 1rem;
  }

  .detail-call,
  .detail-location,
  .detail-time {
    flex-direction: row;
  }

  .detail-call span,
  .detail-location span,
  .detail-time span {
    margin: 0 0.5rem;
  }
}

ul.ul-menu li.drop {
  position: relative;
}

.drop-down {
  background: rgba(39, 40, 34, 0.1);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  width: 100px;
  background: #648ae2;
  color: #fff;
  z-index: 100;
}

.drop .drop-down a {
  width: 100%;
  display: inline-block;
  color: white;
  margin: 0.3rem;
}

ul.ul-menu {
  list-style: none;
  display: flex;
}

ul.ul-menu li {
  margin: 0 1rem;
}

ul.ul-menu li a {
  color: #575757;
  text-decoration: none;
}

ul.ul-menu li i {
  margin: 0 0.3rem;
}

ul.ul-menu li a:hover {
  color: #1261b2;
}

.menu .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu {
  background: #e6e6e6;
  height: 80px;
}

.search-box input {
  border: unset;
  background: transparent;
  border-bottom: 1px solid #888888;
  outline: none;
}

.search-box input.xl-search {
  display: none;
}

.search-box button {
  border: unset;
  background: transparent;
  outline: unset;
  transition: transform 0.2s;
  color: #888888;
  font-size: 1.2rem;
}

.search-box:hover button {
  transform: scale(1.5);
}

.small-search form {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  ul.ul-menu li {
    margin: 0 0.4rem;
  }
}

.sm-menu {
  background: #111111;
  color: #888888;
  width: 100%;
  display: none;
}

.sm-menu .sm-menu-box {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sm-menu .sm-menu-box span {
  padding: 0.5rem 0;
  display: block;
  float: left;
  box-sizing: border-box;
  cursor: pointer;
}
.sm-menu .sm-menu-box .collapse {
  background: #343434;
  width: 100%;
}

.sm-menu .sm-menu-box .collapse .menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
}

.sm-menu .sm-menu-box .collapse .menu-items a {
  text-decoration: none;
  margin: 0.5rem 0;
}

.show-slide {
  display: block;
}

@media screen and (min-width: 768px) {
  .show-slide {
    display: none;
  }
}

.slider .container-fluid {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.slider .carousel-control-prev,
.slider .carousel-control-next {
  background: #363636;
  width: 30px;
  height: 80px;
  margin: auto 0;
}

.slider .carousel-item {
  position: relative;
}

.slider .text-slide {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.slider .text-slide button.service a {
  color: #fff;
  text-decoration: none;
}
.slider .text-slide button.request a {
  color: #0056ae;
  text-decoration: none;
}

.slider .text-slide button:hover {
  box-shadow: 0px 10px 15px 0.1px #000;
}
button.get-quote:hover {
  box-shadow: 0px 10px 15px 0.1px #000;
  color: #fff;
}

.slider .text-slide button.service {
  background: #0056ae;
  margin: 0 0.5rem;
}
.slider .text-slide button.request {
  background: #fff;
  margin: 0 0.5rem;
}

.slider .text-slide h1 {
  color: #fff;
  font-weight: lighter;
  font-size: 70px;
}

.slider .text-slide h4 {
  text-align: center;
  color: #d5d5d5;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1290px) {
  .slider .text-slide h1 {
    font-size: 3rem;
  }

  .slider .text-slide h4 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .slider .text-slide h1 {
    font-size: 2rem;
  }

  .slider .text-slide h4 {
    font-size: 0.7rem;
  }

  .slider .text-slide {
    position: unset;
    transform: unset;
  }

  .slider .text-slide button {
    font-size: 0.7rem;
  }
}

.ability .ability-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

.ability .ability-box h4 {
  margin: 1rem 0;
}

.ability .ability-box .background-icon {
  width: 50px;
  height: 50px;
  background: #0056ad;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

@media screen and (max-width: 1290px) {
  .ability .ability-box h4 {
    font-size: 1rem;
    font-weight: bold;
  }

  .ability .ability-box p {
    font-size: 0.7rem;
  }

  .ability .ability-box {
    margin: 0;
    margin-top: 1rem;
  }
}

.service {
  background: #0056ae;
}

.service .carousel-inner .carousel-item .box-carousel {
  display: flex;
}

.service .carousel-inner .carousel-item .box-carousel .card {
  background: transparent;
  border: unset;
  color: #fff;
}

.service .carousel-inner .carousel-item .box-carousel .card p {
  color: #e6e6e6;
}
.service .carousel-inner .carousel-item .box-carousel .card a {
  cursor: pointer;
}

.service .controls-top {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.service .controls-top i {
  color: #80abd7;
  border: 1px solid #80abd7;
  padding: 0.3rem;
}

.service .controls-top i:hover {
  color: #0056ae;
  background: #fff;
}

.service .carousel-inner a.learn-more i {
  font-size: 0.9rem;
  margin: 0 0.3rem;
}

@media screen and (max-width: 1290px) {
  .service .carousel-inner h4 {
    font-size: 1rem;
  }

  .service .carousel-inner p {
    font-size: 0.7rem;
  }
}

.service .sm-slider {
  display: none;
}

@media screen and (max-width: 768px) {
  .service .xl-slider {
    display: none;
  }

  .service .sm-slider {
    display: block;
  }

  .service .controls-top {
    width: 80%;
    margin: 0.5rem auto;
  }
}

.why-us .container {
  display: flex;
  justify-content: flex-end;
  padding: 3rem 0;
}

.why-us h1 {
  margin-bottom: 1rem;
}

.why-us p,
.why-us .percent {
  color: #555555;
}

.why-us .percent {
  width: 100%;
}

.why-us .kind-percent {
  display: flex;
}

.why-us .one {
  width: 43%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why-us .two {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why-us .three {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why-us .percent .box-percent {
  width: 100%;
  border-top: 1px solid #000;
  height: 10px;
  margin-bottom: 1rem;
}

.why-us .percent .income .fill {
  position: absolute;
  height: 10px;
  width: 40%;
  background: #0056ae;
}

.why-us .percent .opportunity .fill {
  position: absolute;
  height: 10px;
  width: 80%;
  background: #0056ae;
}

.why-us .percent .transformation .fill {
  position: absolute;
  height: 10px;
  width: 55%;
  background: #0056ae;
}

@media screen and (max-width: 768px) {
  .why-us .container {
    display: block;
    padding: 0.5rem;
  }

  .why-us h1 {
    font-size: 2rem;
  }

  .why-us p.text-why {
    font-size: 0.7rem;
  }
}

.testimonials,
.our-partners {
  background: #f5f5f5;
}

.our-partners .carousel {
  width: 100%;
}

.testimonials .carousel .head-slide,
.project .carousel .head-slide,
.latest-news .carousel .head-slide,
.our-partners .carousel .head-slide {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.testimonials .carousel,
.project .carousel,
.latest-news .carousel,
.our-partners .carousel {
  padding: 3rem 0;
}

.testimonials .carousel .head-slide .btns,
.project .carousel .head-slide .btns,
.latest-news .carousel .head-slide .btns,
.our-partners .carousel .head-slide .btns {
  width: 60px;
  position: relative;
}

.testimonials .carousel .head-slide .btns a.prev,
.testimonials .carousel .head-slide .btns a.next,
.project .carousel .head-slide .btns a.prev,
.project .carousel .head-slide .btns a.next,
.latest-news .carousel .head-slide .btns a.prev,
.latest-news .carousel .head-slide .btns a.next,
.our-partners .carousel .head-slide .btns a.prev,
.our-partners .carousel .head-slide .btns a.next {
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translate(0, -50%);
  background: #0056ae;
}

.testimonials .carousel-item .flex-box,
.project .carousel-item .flex-box,
.latest-news .carousel-item .flex-box,
.our-partners .carousel-item .flex-box {
  display: flex;
  justify-content: space-between;
}

.testimonials .carousel-item .card,
.project .carousel-item .card,
.latest-news .carousel-item .card {
  display: block;
  width: 32%;
}

.testimonials .carousel-item .card p.about-person {
  padding: 1rem;
}

.testimonials .carousel-item .card .person {
  display: flex;
  margin: 2rem 0 0 1rem;
}

.testimonials .carousel-item .card .person img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.testimonials .carousel-item .card .person .person-inf span {
  font-weight: bold;
}

.testimonials .carousel-item .card .person .person-inf p {
  font-size: 0.7rem;
}

.project .carousel-item .flex-box .card img {
  width: 100%;
  height: 80%;
}

.latest-news .carousel-item .flex-box .card img,
.our-partners .carousel-item .flex-box .card img {
  width: 100%;
}

.project .carousel-item .flex-box .card,
.our-partners .carousel-item .flex-box .card {
  border: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.3rem;
}

.latest-news .carousel-item .flex-box .card {
  border: unset;
}

.project .carousel-item .flex-box .card .about-project {
  background: #e6e6e6;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.project .carousel-item .flex-box .card .about-project:hover {
  background: #0056ae;
  color: #fff;
}

.project .carousel-item .flex-box .card .about-project span {
  margin: 0.5rem 0;
}

.latest-news .carousel-item .flex-box .card a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .testimonials .carousel-item .flex-box .hide,
  .project .carousel-item .flex-box .hide,
  .latest-news .carousel-item .flex-box .hide,
  .our-partners .carousel-item .flex-box .hide {
    display: none;
  }

  .testimonials .carousel-item .flex-box .card,
  .project .carousel-item .flex-box .card,
  .latest-news .carousel-item .flex-box .card,
  .our-partners .carousel-item .flex-box .card {
    width: 90%;
  }

  .testimonials .carousel-item .flex-box,
  .project .carousel-item .flex-box,
  .latest-news .carousel-item .flex-box,
  .our-partners .carousel-item .flex-box {
    justify-content: center;
  }

  .testimonials .carousel .head-slide,
  .project .carousel .head-slide,
  .latest-news .carousel .head-slide,
  .our-partners .carousel .head-slide {
    justify-content: space-around;
  }

  .testimonials .carousel-item .card p.about-person {
    font-size: 0.7rem;
  }

  .project .carousel-item .flex-box .card .about-project span {
    font-size: 0.7rem;
  }

  .project .carousel-item .flex-box .card .about-project {
    justify-content: space-between;
  }

  .project .carousel-item .flex-box .card .about-project span,
  .project .carousel-item .flex-box .card .about-project i {
    margin: 0.5rem 1rem;
  }

  .latest-news .carousel-item .flex-box .card h4 {
    font-size: 1rem;
    font-weight: bolder;
  }

  .latest-news .carousel-item .flex-box .card p,
  .latest-news .carousel-item .flex-box .card a {
    font-size: 0.7rem;
  }
}

.numbers {
  background: #888888;
  color: #fff;
}

.numbers .number-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.numbers .number-box span {
  font-size: 50px;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .numbers .number-box {
    margin: 0;
  }

  .numbers .number-box span {
    font-size: 2rem;
  }

  .numbers .number-box p {
    font-size: 0.7rem;
  }
}

.contact-us {
  background: #111111;
  color: #c9c9c9;
}

.contact-us .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
.contact-us p {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-us form {
  display: flex;
  justify-content: space-between;
}

.contact-us form input {
  background: #fff;
  text-align: left;
}

.contact-us form input,
.contact-us form button {
  margin: 0.1rem;
  border: none;
}

@media screen and (max-width: 768px) {
  .contact-us p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }

  .contact-us form {
    flex-direction: column;
    align-items: center;
  }

  .contact-us form input {
    font-size: 0.7rem;
    margin: 0.2rem 0;
  }

  .contact-us form button {
    font-size: 0.7rem;
    margin: 0.7rem 0;
  }

  .contact-us .row {
    padding: 2rem 0;
  }
}

.we-are {
  background-image: url(../img/we-are.jpg);
  background-attachment: fixed;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.we-are .row {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.we-are span {
  font-size: 2.5rem;
  font-weight: lighter;
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .we-are {
    background-image: url(../img/mobile-we-are.jpg);
  }
  .we-are span {
    font-size: 0.8rem;
  }
}

.footer {
  background: #111111;
}

.footer .row {
  display: flex;
  flex-direction: column;
}

.footer .all-about-us {
  border-bottom: 1.5px solid #222222;
  display: flex;
  padding: 2rem 0;
}

.footer .all-about-us .consult-contact {
  display: flex;
  width: 65%;
}

.footer .all-about-us .consulting {
  width: 70%;
}

.footer .all-about-us .consulting .business {
  display: flex;
}

.footer .all-about-us .consulting .business .left-ability,
.footer .all-about-us .consulting .business .right-ability {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-top: 0.5rem;
}

.footer .all-about-us .consulting .business .right-ability {
  width: 40%;
}

.footer .all-about-us .consulting .business .left-ability a,
.footer .all-about-us .consulting .business .right-ability a,
.footer .copyright-menu .box span a {
  color: #e6e6e6;
  text-decoration: none;
  font-size: 0.7rem;
  margin: 0.5rem 0;
}

.footer .all-about-us .consulting .business .left-ability a.hide {
  display: none;
}

.footer .all-about-us .consulting .business .left-ability a:hover,
.footer .all-about-us .consulting .business .right-ability a:hover,
.footer .copyright-menu .box span a:hover {
  color: #0056ae;
}

.footer .all-about-us .consulting .business .right-ability {
  border-right: 1.5px solid #222222;
}

.footer .all-about-us .contact {
  color: #aaaaaa;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.footer .all-about-us .contact .items {
  border-right: 1.5px solid #222222;
  margin-top: 0.7rem;
  padding-right: 2rem;
}

.footer .all-about-us .contact .items span {
  font-size: 0.7rem;
  margin: 0.5rem 0;
  display: block;
}

.footer .all-about-us .contact h4 {
  color: #fff;
  font-weight: lighter;
}

.footer .all-about-us .follow-us {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.footer .all-about-us .follow-us .icons {
  margin-top: 0.7rem;
}

.footer .all-about-us .follow-us h4 {
  color: #fff;
  font-weight: lighter;
}

.footer .all-about-us .follow-us .icons i {
  padding: 0.7rem;
  color: #e5e5e5;
  background: #292929;
  border-radius: 50px;
  font-size: 0.6rem;
  cursor: pointer;
}

.footer .all-about-us .follow-us .icons i.fa-facebook-f:hover {
  background: #4f6dac;
}
.footer .all-about-us .follow-us .icons i.fa-twitter:hover {
  background: #31c6f7;
}
.footer .all-about-us .follow-us .icons i.fa-google-plus-g:hover {
  background: #d44534;
}
.footer .all-about-us .follow-us .icons i.fa-linkedin-in:hover {
  background: #0077b4;
}
.footer .all-about-us .follow-us .icons i.fa-instagram:hover {
  background: #aa3486;
}

.footer .copyright-menu {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.footer .copyright-menu span {
  color: #aaaaaa;
  font-size: 0.7rem;
}

.footer .copyright-menu .box {
  display: flex;
  list-style: none;
}

.footer .copyright-menu .box span a {
  margin: 0 0.4rem;
}

@media screen and (max-width: 992px) {
  .footer .all-about-us .consult-contact {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .footer .all-about-us {
    justify-content: space-between;
  }

  .footer .all-about-us .consulting .business .right-ability {
    display: none;
  }

  .footer .all-about-us .consulting .business .left-ability {
    border-right: 1.5px solid #222222;
    width: 100%;
  }

  .footer .all-about-us .consulting .business .left-ability a.hide {
    display: unset;
  }
  .footer .all-about-us .consulting .footer-logo img {
    width: 150px;
  }

  .footer .all-about-us .contact {
    width: 70%;
    height: 100%;
    margin: 0 2rem;
  }

  .footer .all-about-us .contact .items {
    height: 100%;
  }

  .footer .all-about-us .follow-us .icons {
    display: flex;
    flex-direction: column;
  }

  .footer .all-about-us .follow-us .icons i {
    width: 30px;
    height: 30px;
    margin: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer .copyright-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  .footer .copyright-menu span {
    order: 2;
  }

  .footer .copyright-menu .box {
    order: 1;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 575px) {
  .consult-contact,
  .all-about-us {
    flex-direction: column;
    align-items: center;
  }

  .footer .all-about-us .consulting .business .left-ability,
  .footer .all-about-us .contact .items {
    border: unset;
  }

  .footer .all-about-us .follow-us {
    background: rgba(255, 255, 255, 0.2);
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem 0;
  }

  .footer .all-about-us .follow-us .icons {
    flex-direction: row;
  }

  .footer .all-about-us .consult-contact {
    width: 100%;
  }

  .footer .all-about-us .contact,
  .footer .all-about-us .contact .items {
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .footer .all-about-us .contact .items span {
    text-align: center;
  }

  .footer .all-about-us .consulting {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .all-about-us .consulting .business .left-ability {
    align-items: center;
  }

  .footer .all-about-us .contact,
  .footer .all-about-us .consulting {
    margin: 1rem;
  }

  .footer .copyright-menu .box span a {
    font-size: 0.6rem;
    margin: 0 0.3rem;
  }
}
